

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  html {
    background: linear-gradient(to right bottom, #52514d, #001243);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
  }
  
  body {
    font-family: sans-serif;
    line-height: 1.4;
    display: flex;
  }

  .bookcontainer {
    width: 550px;
    margin: auto;
    padding: 36px 48px 48px 48px;
    background-color: #f2efee;
    border-radius: 11px;
    box-shadow: 0 2.4rem 4.8rem rgba(125, 125, 125, 0.637);
    
  }
  
  .book-title {
    font-family: "Georgia", serif;
    font-variant: small-caps;
    padding: 15px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }
  
  .book-form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
  }
  
  .book-form label {
    display: block;
    margin-bottom: 8px;
  }
  
  .book-form input {
    width: 100%;
    padding: 1.2rem;
    border-radius: 9px;
    border: none;
  }
  
  .book-form input:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.923);
  }

  .label{
    font-family: "Garamond", serif;;
    font-weight: bold;
    padding: 15px;
    font-size: 20px;
    font-weight: 400;

  }
  
  .button {
    font-family: "Garamond", serif;;
    padding: 15px 20px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #040043;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #2a2a80db}
  
  .button:active {
    background-color: #101131;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  