body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    font-family: monospace, sans-serif;
    width: 100%;
    background-color: #2F3242;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200vw;
}


.box-inner {
    /* display: none; */
    width: 600px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: absolute;
    top: 350px;
    overflow: hidden;
}

.book {
    width: 280px;
    height: 355px;
    background-color: rgb(62, 71, 152);
    transition: all .3s ease-in-out;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}



/*------ background-pic ------*/

.books-1 {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/945546/3433202-d2a1bea8a58cd447.png');
    background-size: 280px 355px;
}



/* ----- hover ----- */
.book:hover {
    cursor: pointer;
    transform: rotateY(-28deg) rotateZ(-2deg) scale(1.02);
    box-shadow: 1px 3px 2px #353d85, 20px 8px 0 #525dc4;
    /* transform: scale(1.02); */
}


  .message-box {
	height: 200px;
	width: 380px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: 50px;
	color: #FFF;
	font-family: Roboto;
	font-weight: 300;
  }

  .message-box h1 {
	font-size: 60px;
	line-height: 46px;
	margin-bottom: 40px;
  }

  .buttons-con .action-link-wrap {
	margin-top: 40px;
  }
  .buttons-con .action-link-wrap a {
	background: #68c950;
	padding: 8px 25px;
	border-radius: 4px;
	color: #FFF;
	font-weight: bold;
	font-size: 14px;
	transition: all 0.3s linear;
	cursor: pointer;
	text-decoration: none;
	margin-right: 10px
  }
  .buttons-con .action-link-wrap a:hover {
	background: #5A5C6C;
	color: #fff;
  }


  

  
  

 